body {
  font-family: "Times New Roman", Times, serif;
}
.cardTitle {
  font-size: 4em;
  font-family: "Courier New", Courier, monospace;
}

.numeroList {
  font-size: 1em;
}
@media (max-width: 1000px) {
  .cardTitle {
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;
  }

  .numeroList {
    font-size: 0.8em;
  }
}
